.introduction{
    margin-left:10rem ;
    width: 20rem;
}
.color{
    width: 2rem;
    height: 3rem;
    background-color: rgb(85 185 179);
    display: inline-flex;
    margin-right: 2rem;
}
.word1{
    margin-left: 4rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    display: flex;

}
